<main class="home">
  <nav class="nav">
    <div class="nav_rightasid">
      <img
        src="https://i.postimg.cc/jSfHYNtD/logo-Redment.png"
        alt="Redment logo"
        class="redment_logo"
      />
      <div class="nav_rightasid_dashboard">
        <img
          src="https://i.postimg.cc/bYbpbwyQ/icon-dashboard.png"
          alt="dashboard icon"
        />
        <span>داشبورد</span>
      </div>
    </div>
    <div class="nav_leftasid">
      <div class="nav_leftasid_search">
        <img
          src="https://i.postimg.cc/JhMCbNhJ/icon-search.png"
          alt="search icon"
        />
        <input type="text" name="search" placeholder="جستجو ..." />
      </div>
      <div class="nav_leftasid_notif">
        <span>12</span>
        <img
          src="https://i.postimg.cc/P5BzcyDp/icon-notifications.png"
          alt="notification icon"
        />
      </div>
      <div class="nav_leftasid_menu_con">
        <span>
          <img src="https://i.postimg.cc/kGKB2N4Z/avatar.png" alt="avatar" />
          <div class="hamburger_menu">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </span>
      </div>
    </div>
  </nav>
  <section class="central">
    <div class="asideContainer">
      <aside class="sideCon">
        <div class="side">
          <div>
            <span>
              <img
                src="https://i.postimg.cc/tggqvZ6f/icon-dashboard.png"
                alt="dashboard icon"
              />
            </span>
            <p>داشبورد</p>
          </div>
          <img
            src="https://i.postimg.cc/VN7V459K/icon-my-Services-inactive.png"
            alt=""
          />
          <img src="https://i.postimg.cc/2yNFxftH/icon-finantioal.png" alt="" />
          <img src="https://i.postimg.cc/gjp8ZHwQ/icon-support.png" alt="" />
        </div>
      </aside>
      <section class="myServices">
        <div class="myServices_header">
          <h1>سرویس های من</h1>
          <span>(3)</span>
        </div>
        <div class="myServices_badgeCon">
          <div class="badge_container">
            <div class="badge_main">
              <div class="badge_main_detail">
                <div class="badge_main_detail_header">
                  <span class="badge_main_detail_header_imgCon">
                    <img
                      src="https://i.postimg.cc/VLS2JK4K/icn-Software-Products.png"
                    />
                  </span>
                  <p>محصولات نرم افزاری</p>
                </div>
                <div class="badge_main_detail_main">
                  <p>شناسه سرویس : 00406366</p>
                  <p>پایان سرویس : 13 اسفد 1400</p>
                </div>
              </div>
              <div class="badge_main_remain">
                <div>
                  <p>20</p>
                  <span>روز مانده</span>
                </div>
              </div>
            </div>
            <div class="badge_footer">
              <span>
                <img
                  src="https://i.postimg.cc/qqdgN1CS/icon-ticket.png"
                  alt="ticket icon"
                />
                <p>ارسال تیکت</p>
              </span>
              <span>
                <img
                  src="https://i.postimg.cc/Gt70W2rK/icon-invoice.png"
                  alt="icon-invoice"
                />
                <p>تمدید سرویس</p>
              </span>
            </div>
          </div>
          <div class="badge_container">
            <div class="badge_main">
              <div class="badge_main_detail">
                <div class="badge_main_detail_header">
                  <span class="badge_main_detail_header_imgCon">
                    <img
                      src="https://i.postimg.cc/hjHgvvNG/icon-customized-Softwaremo.png"
                    />
                  </span>
                  <p>توسعه نرم‌افزار سفارشی تجارت الکترونیک</p>
                </div>
                <div class="badge_main_detail_main">
                  <p>شناسه سرویس : 00406366</p>
                  <p>پایان سرویس : 13 اسفد 1400</p>
                </div>
              </div>
              <div class="badge_main_remain">
                <div>
                  <p>20</p>
                  <span>روز مانده</span>
                </div>
              </div>
            </div>
            <div class="badge_footer">
              <span>
                <img
                  src="https://i.postimg.cc/qqdgN1CS/icon-ticket.png"
                  alt="ticket icon"
                />
                <p>ارسال تیکت</p>
              </span>
              <span>
                <img
                  src="https://i.postimg.cc/Gt70W2rK/icon-invoice.png"
                  alt="icon-invoice"
                />
                <p>تمدید سرویس</p>
              </span>
            </div>
          </div>
          <div class="badge_container">
            <div class="badge_main">
              <div class="badge_main_detail">
                <div class="badge_main_detail_header">
                  <span class="badge_main_detail_header_imgCon">
                    <img
                      src="https://i.postimg.cc/bvhtDNc3/Component-141-1.png"
                    />
                  </span>
                  <p>توسعه نرم‌افزار سفارشی تجارت الکترونیک</p>
                </div>
                <div class="badge_main_detail_main">
                  <p>شناسه سرویس : 00406366</p>
                  <p>پایان سرویس : 13 اسفد 1400</p>
                </div>
              </div>
              <div class="badge_main_remain">
                <div>
                  <p>20</p>
                  <span>روز مانده</span>
                </div>
              </div>
            </div>
            <div class="badge_footer">
              <span>
                <img
                  src="https://i.postimg.cc/qqdgN1CS/icon-ticket.png"
                  alt="ticket icon"
                />
                <p>ارسال تیکت</p>
              </span>
              <span>
                <img
                  src="https://i.postimg.cc/Gt70W2rK/icon-invoice.png"
                  alt="icon-invoice"
                />
                <p>تمدید سرویس</p>
              </span>
            </div>
          </div>
        </div>
      </section>
    </div>
    <main class="mainPage">
      <div class="mainPage_header">
        <img src="https://i.postimg.cc/7hngYVkV/Component.png" id="bg_head" />
        <div class="mainPage_header_titel">
          <h1>سرویس‌ها</h1>
          <p>
            جهت خرید سرویس درخواست خود را ثبت کنید کارشناسان ما در اسرع وقت جهت
            صدور قرارداد با شما تماس خواهند گرفت
          </p>
        </div>
        <div class="mainPage_header_avatar">
          <img
            src="https://i.postimg.cc/7Y8y7NyV/illustration-submit-Service.png"
          />
        </div>
      </div>
      <div class="mainPage_main">
        <div class="mainPage_badge_con">
          <div class="mainPage_badge_main">
            <h1>محصولات نرم افزاری</h1>
            <p>محصولات نرم افزاری</p>
            <p>در زمینه افزایش بهره وری مشاغل</p>
          </div>
          <div class="mainPage_badge_footer">
            <span> درخواست نرم افزار </span>
          </div>
        </div>
        <div class="mainPage_badge_con">
          <div class="mainPage_badge_main">
            <h1>محصولات نرم افزاری</h1>
            <p>محصولات نرم افزاری</p>
            <p>در زمینه افزایش بهره وری مشاغل</p>
          </div>
          <div class="mainPage_badge_footer">
            <span> درخواست نرم افزار </span>
          </div>
        </div>
        <div class="mainPage_badge_con">
          <div class="mainPage_badge_main">
            <h1>محصولات نرم افزاری</h1>
            <p>محصولات نرم افزاری</p>
            <p>در زمینه افزایش بهره وری مشاغل</p>
          </div>
          <div class="mainPage_badge_footer">
            <span> درخواست نرم افزار </span>
          </div>
        </div>
      </div>
      <div class="mainPage_footer">
        <div class="mainPage_footer_header">
          <p>آخرین تیکت‌ها (۴)</p>
          <div>
            <span>+</span>
            <p>ثبت تیکت</p>
          </div>
        </div>
        <div class="mainPage_footer_title">
          <p>عنوان</p>
          <p></p>
          <p></p>
          <p>شناسه</p>
          <p>تاریخ</p>
          <p></p>
          <p>وضعیت</p>
          <p></p>
        </div>
        <div class="mainPage_footer_content">
          <div class="mainPage_footer_item">
            <span>
              سایت لورم‌ساز علاوه بر تولید متن ساختگی لورم ایپسوم، انواع
              ابزارهای آنلاین
            </span>
            <p></p>
            <p></p>
            <p>۳۰۸۰۰۸</p>
            <p></p>
            <p>۱۴۰۰/۷/۹ "۱۲:۰۶"</p>
            <p></p>
            <div id="item_status">
              <img src="https://i.postimg.cc/ry1jcz4f/icon-state.png" />
              <p>پاسخ داده شده</p>
            </div>
          </div>
          <div class="mainPage_footer_item">
            <span>
              سایت لورم‌ساز علاوه بر تولید متن ساختگی لورم ایپسوم، انواع
              ابزارهای آنلاین
            </span>
            <p></p>
            <p></p>
            <p>۳۰۸۰۰۸</p>
            <p></p>
            <p>۱۴۰۰/۷/۹ "۱۲:۰۶"</p>
            <p></p>
            <div id="item_status">
              <img src="https://i.postimg.cc/ry1jcz4f/icon-state.png" />
              <p>پاسخ داده شده</p>
            </div>
          </div>
          <div class="mainPage_footer_item">
            <span>
              سایت لورم‌ساز علاوه بر تولید متن ساختگی لورم ایپسوم، انواع
              ابزارهای آنلاین
            </span>
            <p></p>
            <p></p>
            <p>۳۰۸۰۰۸</p>
            <p></p>
            <p>۱۴۰۰/۷/۹ "۱۲:۰۶"</p>
            <p></p>
            <div id="item_status">
              <img src="https://i.postimg.cc/ry1jcz4f/icon-state.png" />
              <p>پاسخ داده شده</p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </section>
</main>
